version: "3.9"

services:
  backend:
    build: .
    container_name: kalia_backend
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:6
    container_name: kalia_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
