name: Deploy Backend

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build backend image
        run: docker build -t mydocker/kalia-backend:latest .

      - name: Push backend image
        run: docker push mydocker/kalia-backend:latest

      - name: Deploy to Azure Container Apps
        uses: azure/container-apps-deploy-action@v1
        with:
          acrName: ""
          containerAppName: "kalia-backend"
          resourceGroup: "MyRG"
          imageToDeploy: "mydocker/kalia-backend:latest"
          azureCredentials: ${{ secrets.AZURE_CREDENTIALS }}
